:root{
    --ar-dark: #1c2541;
    --ar-dark-dim: #3a506b1a;
    --ar-light: #fffffff9;
    --ar-light-dim: #ffffffa0;
    --ar-success: #a1c181;
    --ar-danger: #de3f4f;
    --ar-warning: #fcca46;
    --ar-shadow: drop-shadow(0 3px 8px var(--ar-dark-dim));
    --ar-primary: #5bc0be;
    --ar-secondary: #3a506b;
}

[theme-dark=dark]{
    --ar-light: #1c2541;
    --ar-light-dim: #3a506b1a;
    --ar-dark: #fffffff9;
    --ar-dark-dim: #ffffffa0;
}

.ar-btn-primary{
    background-color: var(--ar-primary) !important;
    color: #fffffff9;
}

.ar-btn-secondary{
    background-color: var(--ar-secondary)!important;
    color: #fffffff9;
}

.ar-btn-primary:hover, .ar-btn-secondary:hover, .ar-btn:hover{
    transform: scale(1.03);
    color: var(--ar-light);
}

.ar-bg-light{
    background-color: var(--ar-light)!important;
}

.ar-text-light{
    color: var(--ar-light)!important;
}

.ar-bg-dark{
    background-color: var(--ar-dark)!important;
}

.ar-text-dark{
    color: var(--ar-dark)!important;
}

.ar-bg-primary{
    background-color: var(--ar-primary)!important;
}

.ar-text-primary{
    color: var(--ar-primary)!important;
}

.ar-bg-secondary{
    background-color: var(--ar-secondary)!important;
}

.ar-text-secondary{
    color: var(--ar-secondary)!important;
}

.ar-bg-danger{
    background-color: var(--ar-danger)!important;
}

.ar-text-danger{
    color: var(--ar-danger)!important;
}

.ar-bg-success{
    background-color: var(--ar-success)!important;
}

.ar-text-success{
    color: var(--ar-success)!important;
}

.ar-bg-warning{
    background-color: var(--ar-warning)!important;
}

.ar-text-warning{
    color: var(--ar-warning)!important;
}

.ar-shadow-lg{
    box-shadow: 0px 3px 10px 4px var(--ar-dark-dim);
}

.ar-shadow{
    box-shadow: 0px 2px 8px 2px var(--ar-dark-dim);
}

.ar-shadow-sm{
    box-shadow: 0px 2px 8px 0px var(--ar-dark-dim);
}

.pointer{
    cursor: pointer;
}

.wrapword {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

div.ar-theme-switch img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.no-default-style{
    border-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space:nowrap;
}